apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  username: {{ .Values.mysql.username | b64enc }}  # cm9vdA==
  password: {{ .Values.mysql.rootPassword | b64enc }}  # amVmZmVyc29u