apiVersion: v1
kind: Service
metadata:
  name: users-service
spec:
  selector:
    app: users
  ports:
    - protocol: TCP
      port: {{ .Values.usersBack.servicePort }}
      targetPort: {{ .Values.usersBack.containerPort }}
  type: ClusterIP
